*{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(47, 76, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:any-link{
    color:rgb(47, 76, 236);
}
label {
    display: block;
    position: relative;
    padding-left: 120 px; /* adjust if necessary */
    font-family:Arial, Helvetica, sans-serif;
}

 label > span {
    position: absolute;
    left: 0;
}

.error{
    color: red;
}

#name, #email, #password, #passConfirm{
    margin-bottom: 2%;
}

#orgName, #orgRate{
    margin-left: 1%;
}

.memberLinks{
    margin-right: 2%;
}

table{
    border-collapse: collapse;
    width: 60%;
    
}

th,td{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}