*{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(47, 76, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:any-link{
    color:rgb(47, 76, 236);
}
label {
    display: block;
    position: relative;
    padding-left: 120 px; /* adjust if necessary */
    font-family:Arial, Helvetica, sans-serif;
}

 label > span {
    position: absolute;
    left: 0;
}
.success{
    color: green;
}

.error{
    color: red;
}

#name, #email, #password, #passConfirm{
    margin-bottom: 2%;
}

#orgName, #orgRate{
    margin-left: 1%;
}

.memberLinks{
    margin-right: 2%;
}

table{
    border-collapse: collapse;
    width: 80%;
    
}

th,td{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

#editButton,#leaveOrgButton{
    /* Source: https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /*input has OS specific font-family*/
    color: rgb(0, 79, 153);
    text-decoration: underline;
    cursor: pointer;
    font-size: medium;
    
}